.book-index .about nav {
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: center;

    margin-block-start: 4em;
}
.book-index .about-team, .book-index .about-product {
    width: 30vw;
    padding: 1em;
    margin: 100px auto;
}

.book-index .about-product {
    background-color: lightgoldenrodyellow;
}

.book-index .about-team {
    background-color: lightsteelblue;
}