* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--bg-app);
    color: var(--gray3);
    font-family: 'Roboto', system-ui, -apple-system, 'Segoe UI', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
