@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.book-index {
	font-family: 'Poppins', sans-serif;
	color: var(--book-gray3);
}

.book-index h1,
.book-index h2,
.book-index h3,
.book-index h4,
.book-index h5,
.book-index h6 {
	margin: 0.5em 0 0.5em;
}

.book-index p {
	margin: 0 0 1em;
}

.book-index a {
	text-decoration: none;
	color: unset;
}

.book-index img,
.book-index embed,
.book-index video,
.book-index object {
	max-width: 100%;
}
